body
{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

/* Style the header with a grey background and some padding */
#header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

#header img {
	height: 60px;
	vertical-align: middle;
}

/* Style the header links */
#header a {
  float: right;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
#header a.logo {
  font-size: 25px;
  font-weight: bold;
  float:left;
}

/* Change the background color on mouse-over */
#header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
#header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
#header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  #header a {
    float: none;
    display: block;
    text-align: left;
  }
  #header-right {
    float: none;
  }
}

#menu
{
	width: 90px;
	background-color: green;
}

#footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	height: 80px;
	width: 100%;
	background-color: #f1f1f1;
	text-align: center;
}