Remplir le formulaire pour valider votre commande



<form action="command.php" method="post">
     <fieldset class="Coordonnées">
          <legend>Vos Coordonnées</legend>
         <label for="nom">Nom</label>
         <input id="nom" name="nom" pattern="[a-Z]{*}" type="text" /><br />
         <label for="prenom">Prénom </label>
         <input id="prenom" name="prenom" type="text" /><br />
         <label for="mail">mail </label>
         <input id="mail" name="mail" type="text" /><br />
         <label for="mail_conf">Confirmer mail </label>
         <input id="mail_conf" name="Confirmer mail" type="text" /><br />

          <legend>Adresse</legend>
          <label>Rue</label>
          <input id="rue" name="rue" type="text" /><br />
          <label>Code postal</label>
          <input id="code-postal" name="code-postal" type="text" /><br />
          <label>Ville</label>
          <input id="ville" name="ville" type="text" />
   
    </fieldset>

<fieldset class="Votre commande">
 <legend>Votre commande</legend>


 <title> Tableau de commande </title>
 <script language="javascript">


  function addRow(tableID) {

   var table = document.getElementById(tableID);

   var rowCount = table.rows.length;
   var row = table.insertRow(rowCount);

   var colCount = table.rows[0].cells.length;

   for(var i=0; i<colCount; i++) {

    var newcell = row.insertCell(i);

    newcell.innerHTML = table.rows[1].cells[i].innerHTML;
    //alert(newcell.childNodes);
    switch(newcell.childNodes[0].type) {
     case "text":
       newcell.childNodes[0].value = "";
       break;
     case "checkbox":
       newcell.childNodes[0].checked = false;
       break;
     case "select-one":
       newcell.childNodes[0].selectedIndex = 0;
       break;
     }
   }
  }
 
  function deleteRow(tableID) {
   try {
   var table = document.getElementById(tableID);
   var rowCount = table.rows.length;

   for(var i=0; i<rowCount; i++) {
    var row = table.rows[i];
    var chkbox = row.cells[0].childNodes[0];
    if(null != chkbox && true == chkbox.checked) {
     if(rowCount <= 2) {
  addRow(tableID);
                // alert("Attention la 1ère ligne n'est pas supprimable. La quantité est initialisée à 0");
               //  break;
                    }
     table.deleteRow(i);
     rowCount--;
     i--;
    }


   }
   }catch(e) {
    alert(e);
   }
  }

function testValue(selection) {
  if (selection.value == "Dawn") {
	// do something
	}
  else if (selection.value == "Noon") {
	// do something
	}
  else if (selection.value == "Dusk") {
	// do something
	}
  else {
	// do something
	}
  }

</script>

</form>
</head>
<body>


 <table border="1" id="TableID" style="width: 350pxpx;">
<tr>
       
<th bgcolor="grey" td="" width="15"></th><th bgcolor="grey" td="" width="90">Auteur</th><th bgcolor="grey" td="" width="90">Titre</th><th bgcolor="grey" td="" width="45">Quantité</th><th bgcolor="grey" td="" width="45">Tarif</th></tr>
<tr>
   <td><input name="chk" size="15" type="checkbox" /></td>
    <td>
    <select name="Auteur" style="width: 90;">
     <option selected="" value="Choix">Sélectionner votre Auteur</option>
     <option selected="" value="Auteur 1">Auteur 1</option>
     <option value="Auteur 2">Auteur 2Auteur 2</option>
     </select>

  
   <td>
    <select name="Format" style="width: 90;">
     <option value="Titre1">Titre1</option>
     <option value="Titre2">Titre2</option>
     <option value="Titre3">Titre3</option>
    </select>
   </td>

<td>
    <select name="Quantité" style="width: 20;">
     <option value="0">0</option>
     <option value="1">1</option>
     <option value="2">2</option>
     <option value="3">3</option>
     <option value="4">4</option>
     <option value="5">5</option>
    </select>
   </td>

<td><select name="Prix" style="width: 20;">
     <option value="10">10</option>
     <option value="20">20</option>
     <option value="30">30</option>
        </select></td>

  </td></tr>
</table>

</fieldset>
<input onclick="addRow('TableID')" type="button" value="Ajouter" />
<input onclick="deleteRow('TableID')" type="button" value="Supprimer" />
<input  type="submit" value="Valider" />
<a  href="page_contact.html">Retour<a/>