<a href="page_contact.html">page_contact</a>

<div class="contact">
  <h2 class="contact-titre">Contact</h2>
  <p>Amazin</p>
  <p>14 rue Jean-Louis Bertrand</p>
  <p>35000, RENNES</p>
  <br>
  <a href="mailto:contact@amazin.fr">Envoyer un mail</a>
</div>
